html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    position: relative;
}

.nav {


}


#map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.leaflet-top {
    right: 0;
}